[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
openpyxl = "*"
djangorestframework = "*"
xlrd = "*"
django-cors-headers = "*"


[requires]

python_version = "3.6"
